* { box-sizing: border-box; }
body {
  margin: 0;
  padding: 0;
  font-family: Helvetica;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  text-align: center;
  position: relative;
  max-width: 100%;
}
label {
  text-transform: uppercase;
  font-size: 10px;
  text-align: left;
  letter-spacing: 1px;
  display: block;
  color: #e0e0e0;
  margin-bottom: 5px;
}

input, button {
  width: 100%;
  border: 3px solid #f1f1f1;
  outline: 0;
  line-height: 30px;
  padding: 5px 20px;
  margin-right: 15px;
  background-color: white;
  -webkit-appearance: none;
  font-size: 16px;
}

.row { margin: 15px -15px; }
.row:before, .row:after, .container:before, .container:after { display: table; content: ''; }
.row:after, .container:after { clear: both; }
.col {
  float: left;
  position: relative;
  padding-left: 15px;
  padding-right: 15px;
}

.full-col {
  width: 100%;
}

.half-col {
  width: 50%;
}
.btn {
  background-color: #E0E0E0;
  border: none;
  color: white;
  text-transform: uppercase;
}
.btn:hover { background-color: #BDBDBD; }
.btn:active, .btn:focus { background-color: #9E9E9E; }

.btn-primary { background-color: #00bcd4; }
.btn-primary:hover { background-color: #00ACC1; }
.btn-primary:active, .btn-primary:focus { background-color: #0097A7; }

.person1 span, .person2 span { display: block; }
.person1 span:before, .person2 span:before { content: "$";}

.person1 { color: #00bcd4; }
.person2 { color: #8BC34A; }

.about {
  position: fixed;
  bottom: 15px;
  right: 0;
}
.about-link {
  color: #e0e0e0;
  text-decoration: none;
  font-size: 14px;
  text-align: right;
  padding: 15px;
}
.about-modal {
  background: rgba(0,0,0,.8);
  line-height: 24px;
  width: 350px;
  position: absolute;
  bottom: 30px;
  right: 15px;
  padding: 20px;
  display: none;
}

.show { display: block; }

p { font-size: 12px; font-style: italic; color: #e0e0e0;}

.venmo { background-image: url('icon-venmo.png'); }
.sqcash { background-image: url('icon-cash.png'); }
.icon-pay {
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: center center;
  width: 20px;
  height: 20px;
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  border-radius: 3px;
}
.pay-links { margin-top: 10px; }